<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- for the google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- for the css -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div id="footer" class="footer">
  <div class="content-left">
     <ul>
      <p>Contact us:</p>
        <li>Phone: +251-984-163-441</li>
        <li>Email: miki123mbt@gmail.com</li>
        <li>Text: 8024</li>
     </ul>
  </div>

  <div class="content-middle">
    <div class="icons">
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/mikistat2/"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.instagram.com/mike.mbt147/"><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-telegram"></i></a>
    </div>

    <div class="copyright">
      <p>&copy <%= new Date().getFullYear() %></p>
      <p>Developed by MBT</p>
      <p>Mikiyas dawit Hello from the other side</p>
    </div>
  </div>

  <div class="content-right">
    <h2 >How can we improve this Website</h2>
     <input type="text" placeholder="your message">
     <button type="submit">Submit</button>
    <form action="">

    </form>

  </div>
</div>
  
</body>
</html>