<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("patials/header.ejs") %>

    <div class="about-me-container">

        <div class="my-image">
            <img src="/images/profile.png" alt="">
        </div>

        <div class="about-me">
            <p>I’m a passionate computer science student with a strong interest in coding and problem-solving. Although I’m just starting my journey in web development, I’m constantly learning and improving every day. This website is one of my early projects, built to help people easily locate where the International Space Station (ISS) is in real-time. I believe in using technology to make space more accessible and understandable, and I’m excited to grow as a developer and build tools that make a difference</p>
        </div>
    </div>

    <%- include("patials/footer.ejs") %>
</body>
</html>